{% extends "base.html" %}

{% block title %}Registro de Usuarios{% endblock %}  

{% block content %}


<!--MAIN-PAGE-->
<div class="container my-5">
    <style>
        .about-us {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .about-us-text {
            width: 50%;
            font-family: 'Comfortaa', sans-serif;
        }
        .about-us-image {
            width: 50%;
            display: flex;
            justify-content: center; /* Centra la imagen horizontalmente */
            align-items: center; /* Centra la imagen verticalmente */
        }
        .about-us-image img {
            width: 70%;
            height: auto;
            margin-left: 10%; /* Mueve la imagen un poco a la derecha */
        }
    </style>

    <div class="about-us">
        <div class="about-us-text">
            <h2>Acerca de nosotros

                
            </h2>
            <p>Desde su fundación en 1934, "El Regio" ha permanecido a la vanguardia de la medicina en Nuevo León.

                A 89 años de su creación, hoy es líder en especialidades y subespecialidades, cuenta con infraestructura hospitalaria de última generación, y es reconocido por ofrecer atención médica de gran complejidad con alto sentido humano.
                
                Durante 2023, habilitamos 10 cubículos de terapia respiratoria de oxigenación por membrana extracorpórea..</p>
        </div>
        <div class="about-us-image">
            <img src="static/images/hospitalElRegioO.png" alt="Imagen del hospital">
        </div>
    </div>
</div>


<!--FIN MAIN-PAGE-->










{% endblock %}