{% extends "base.html" %}
{% block title %}Template para Proyecto Final{% endblock %}
{% block content %}

<!<!--MAIN-PAGE-->
<div class="container">
    <div class="image-text">
        <img src="/static/images/hospital-banner.png" alt="Banner de Hospital">
        <div class="image-text-content">
            <h2>Atenci&oacute;n M&eacute;dica las 24 horas</h2>
            <p style="font-size: 20px; color: #0e0d0d; font-weight: bold;">Cuidamos de quien más te cuida</p>
            <a href="listaDeMedicos" class="btn-agenda-cita">Agenda una cita</a>
        </div>
    </div>
</div>
</br>

<!--FIN DEL MAIN-PAGE-->

{% endblock %}
