{% extends "base.html" %}
{% block title %}Promociones{% endblock %}  
{% block content %}


<style>
h3,h2 {
  font-family: 'Comfortaa', cursive;
}
 </style>


		<!--MAIN-PAGE-->
<!-- PROMOCIONES -->
<div class="promotions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2>Promociones</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="promo-box">
            <h3>TARJETA BIENESTAR</h3>
            <img src="/static/images/promo.png" alt="Promocion" style="width: 250px; height: 250px;">
          </br>
          <br>
          
            <p>20% de descuento al pagar con tarjeta "Banco del Bienestar".
        </p>          </div>
        </div>
        <div class="col-md-4">
          <div class="promo-box">
            <h3>EXAMEN DE SANGRE</h3>
            <img src="static/images/promo2.PNG" alt="Promocion" style="width: 250px; height: 250px;">
          </br>
            <br>

            <p> Descuento del 15% en examen de sangre.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="promo-box">
            <h3>MEDICAMENTOS 2x1</h3>
            <img src="/static/images/promo3.PNG" alt="Promocion" style="width: 250px; height: 250px;">
          </br>
          <br>
            <p> 2x1 en medicamentos. Ahorra y cuida tu salud en nuestro hospital. (50 palabras)</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
	  <!--FIN DEL MAIN-PAGE-->
{% endblock %}
